.product_data{
    background-color:black;
    height: 80px;
    width: 86px;
    text-align: center ;
    padding:20px;
    margin: px;
    
}

.product_month{
    font-size:20px;
    color: antiquewhite;

    margin: 5px;
}
